.main_container_contact {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 20px;
    margin-top: 20px;
}

.text-container {
    display: flex;
    justify-content: center;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #004aad !important;
}
