.main-container {
    padding-top: 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
}

.text-container {
    display: flex;
    justify-content: center;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #004aad !important;
}

.container-email,
.container-massage,
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #004aad;
    font-size: 20px;
}

.form {
    width: 100%vw !important;
}

label {
    padding-top: 10px;
    padding-bottom: 10px;
}

.email-input {
    width: 300px !important;
    height: 30px !important;
}

textarea {
    width: 300px !important;
    height: 200px !important;
}

.button-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sent_button {
    background-color: #004aad !important;
    color: #f6f5f2;
    width: 100px;
    height: 40px;
    font-size: 15px !important;
}