.card_container {
    display: flex;
    justify-content: center;
    margin:30px;
}


.card {
    background-color: white;
    width: 50vw;
    display: flex;
    align-items: flex-start;
    padding: 30px;
    padding-left: 80px;
    border-color: #004aad;
    border-radius: 5%;
    border-style: solid;
    border-width: 2px;
}

th, td {
    color: #004aad !important;
    margin-bottom: 1rem;
    padding: 3px;
}
