.search_button {
    background-color: #004aad !important;
    color: #f6f5f2;
    width: 100px;
    height: 40px;
    font-size: 15px !important;
}

.search_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 50vw;
    margin: 30px;
    border-color: #004aad;
    border-style: solid;
    border-width: 2px;
}