.jumbotron_container {
    background-image: url('/jumbo1(1).jpg');
    background-size:cover;
    background-repeat: none;
    height: 50vh;
    display: flex;
    align-items:end;
    justify-content: center;
}
/*  biay
rgb(158, 156, 154)  szary*/
h1,h4  {
    margin: 0;
    color: #f6f5f2 !important;
}

p1 {
    color: black !important; 
    margin:0;
    font-size: x-small;
}